@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.cardbox{
    width: 500px;
    border-radius: 20px;
    background-color: #fff;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.content h3{
    width: fit-content;
    font-size: 1rem;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px 0 15px;
    background-color: #E6D6FC;
    color: #b07bf1;
    font-weight: 600;
    text-decoration: none;
}
p{
    font-size: 1.1rem;
    color: #8f8f8f;
}
img{
    border-radius: 10px;
    height: 200px;
    aspect-ratio: 3/5;
    width: 100%;
}
.author{
    color: #8f8f8f;
    padding: 20px;
    font-weight: 500;
}